@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.book-image {
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 200px;
  aspect-ratio: 1;
}

#image-wrapper input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 10;
  right: 0;
}
